* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-content: center;
  background-color: black;
  min-height: 100vh;
  min-height: 100dvh;
}

#my-canvas {
  border: 4px solid #000;
  border-bottom: transparent;
  background: url(./images/bkg.png) repeat;
  margin: 0 auto;
  display: block;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}

.ctn-btns {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;

  & button {
    border-radius: 0.5rem;
    background-color: #ffffff;
    padding: 1rem;
    margin-inline: 1rem;
    cursor: pointer;
    border-style: none;
  }
}
